@inherits LayoutComponentBase
<div class="page">

    <NavMenu />

    <main>

        <article class="content">
            <div id="scroll-to-top"></div>
            @Body
        </article>

    </main>
</div>

@code{
    [CascadingParameter]
    public RouteData? RouteData { get; set; }

    public override Task SetParametersAsync(ParameterView parameters)
    {
        if (parameters.TryGetValue(nameof(RouteData), out RouteData? routedata))
        {
            routedata.ThrowIfNull();
            GameService.ThrowIfNull();
            GameService.CheckRoute(routedata);
        }

        return base.SetParametersAsync(parameters);
    }

    [Inject]
    protected IJSRuntime? JS { get; set; }

    protected override void OnInitialized()
    {
        NavigationManager.LocationChanged += ScrollToTop;
        base.OnInitialized();
    }

    private void ScrollToTop(object? sender, LocationChangedEventArgs args)
    {
        if (JS.IsNotNull())
        {
            JS.InvokeVoidAsync("ScrollToTop");
        }
    }
}