@inherits LayoutComponentBase
<div class="page">

    <CascadingValue Value="this">
        <NavMenu />
    </CascadingValue>

    <UserComponent @ref="UserComponentRef" />

    <main>

        <article class="content">
            <div id="scroll-to-top"></div>
            @Body
        </article>

    </main>
</div>

@code{
    [CascadingParameter]
    public RouteData? RouteData { get; set; }
    private bool RouteDataChanged = false;

    public override Task SetParametersAsync(ParameterView parameters)
    {
        if (parameters.TryGetValue(nameof(RouteData), out RouteData? routedata))
        {
            RouteDataChanged = true;
        }

        return base.SetParametersAsync(parameters);
    }
    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (RouteDataChanged)
        {
            RouteDataChanged = false;
            RouteData.ThrowIfNull();
            GameService.ThrowIfNull();
            await GameService.CheckRoute(RouteData);
        }

        await base.OnAfterRenderAsync(firstRender);
    }

    [Inject]
    protected IJSRuntime? JS { get; set; }

    private UserComponent? UserComponentRef { get; set; }

    protected override void OnInitialized()
    {
        NavigationManager.LocationChanged += ScrollToTop;
        base.OnInitialized();
    }

    private void ScrollToTop(object? sender, LocationChangedEventArgs args)
    {
        if (JS.IsNotNull())
        {
            JS.InvokeVoidAsync("ScrollToTop");
        }
    }

    public void ToggleLogin(bool state)
    {
        UserComponentRef?.ShowMenu();
    }
}