@inherits GamePage
@page "/games/{Type}"
@using BracketHubWeb.Models

<PageTitle>Game - @Type</PageTitle>

<div class="page-background" style="@BackgroundUrlStyle"></div>

<div class="page-top-section" page-restrict="true">
	<div>
		<object class="tournament-item-icon" data="@GameModelStatics.IconUrl(GameService.Type)" type="image/png">
			<img src="images/icons/default-icon.jpg" alt="">
		</object>
		<h2>@GameService.Game?.Name</h2>
	</div>
</div>

<TournamentGridComponent Title="Tournaments" IsGamePage="true" Tournaments="BaseTournamentModelStatics.TournamentList.Where(x => x.GameType == Type).ToList()" />

@code {
	public static string NavigateMe(string type) => $"games/{type}";
}
