
.bracket-component {
    --bracket-h-spacing: 2rem;
    --bracket-v-spacing: 0.5rem;

    --team-height: 2rem;
}

.bracket-component {
    display: flex;
    flex-direction: column;
    background: var(--background-dark);
    border-radius: var(--border-radius);
    gap: 1rem;
    padding: 1rem;
    overflow: auto;
    width: calc(100% - 2rem);

    .bracket-component-header {
        h3 {
            margin: 0;
        }
    }

    .bracket-component-view {
        display: flex;

        .bracket {
            display: flex;
            flex-direction: column;
            padding-right: var(--bracket-h-spacing);

            .bracket-header {
                padding: 1rem;
                text-align: center;
            }

            .bracket-list {
                display: flex;
                flex-direction: column;
                flex: 1;
                justify-content: center;
                gap: calc((var(--team-height) * 2 + 0.6rem) - 1px + (var(--team-height) * 2) / 2);

                .round-match {
                    position: relative;
                    display: flex;
                    flex-direction: column;
                    justify-content: space-between;
                    height: calc(var(--team-height) * 2 + 0.5rem);

                    &.highlight {
                        .exit, .entry {
                            border-color: var(--outline-color) !important;
                            border-width: 2px !important;
                        }
                    }

                    &[single-team] {
                        height: calc(var(--team-height) + 0.25rem);
                        margin: calc(var(--team-height) / 2) 0;
                        margin: calc(var(--team-height) / 2 * 1.75) 0 calc(var(--team-height) / 2 * 0.5) 0;
                        margin: calc(var(--team-height) + 0.25rem) 0 0 0;

                        > a {
                            border-radius: var(--border-radius) !important;
                        }
                    }

                    > a {
                        display: flex;
                        background: var(--background-dark);
                        outline: var(--outline-color) 1px solid;
                        padding: 0 0.5rem;
                        flex: 1;
                        align-items: center;
                        width: 10rem;

                        &:nth-child(2n+1) {
                            border-radius: var(--border-radius) var(--border-radius) 0 0;
                        }

                        &:nth-child(2n) {
                            border-radius: 0 0 var(--border-radius) var(--border-radius);
                        }

                        &.highlight {
                            background: var(--color-back-3);
                            background: var(--outline-color);
                        }

                        &.winner {
                            /*outline-color: green;
                            outline-width: 2px;
                            outline-offset: -1px;*/
                            z-index: 1;
                            border-left: 5px solid green;
                        }

                        &.loser {
                            /*outline-color: red;
                            outline-width: 2px;
                            outline-offset: -1px;*/
                            z-index: 1;
                            border-left: 5px solid red;
                        }
                    }

                    .exit {
                        pointer-events: none;
                        z-index: 0;
                        position: absolute;
                        width: calc(var(--bracket-h-spacing) / 2);
                        right: calc(var(--bracket-h-spacing) / -2);
                        height: calc(var(--team-height) * 2 + 0.4rem);

                        &[single-team] {
                            height: calc(var(--team-height) * 2 + 0.4rem + var(--team-height) / 2);
                        }

                        &.up {
                            bottom: 50%;
                            border-bottom: 1px solid var(--link-color);
                            border-right: 1px solid var(--link-color);
                        }

                        &.down {
                            top: calc(50% - 1px);
                            border-top: 1px solid var(--link-color);
                            border-right: 1px solid var(--link-color);
                        }
                    }

                    .entry {
                        z-index: 1;
                        position: absolute;
                        bottom: 0;
                        width: 15px;
                        right: -16px;

                        &.up {
                            top: 0;
                            border-top: 1px solid var(--link-color);
                        }

                        &.down {
                            border-bottom: 1px solid var(--link-color);
                        }
                    }
                }
            }
        }

            .bracket[round-number="1"] {
                .bracket-list {
                    gap: 1rem;

                    .round-match {
                        .exit {
                            height: calc(var(--bracket-v-spacing) / 2 + var(--team-height) / 2 + 0.4rem);
                        }
                    }
                }
            }
    }
}