
.input-search-container {
    padding: 0.5rem;
    background-color: var(--background-gray-1);
    border-radius: var(--border-radius);
    width: 320px;
    position: relative;
    display: flex;
    align-items: center;
    gap: 0.25rem;
    cursor: text;

    svg {
        opacity: 0.7;
        font-size: 1.0rem;
    }

    input {
        flex-grow: 1;
        border: none;
        outline: none;
        background: none;
        color: var(--text-muted);
        font-size: 1rem;
    }

        input::-webkit-search-cancel-button {
            position: relative;
            -webkit-appearance: none;
            height: 20px;
            width: 20px;
        }

        input::-webkit-input-placeholder {
            color: var(--text-muted);
            opacity: 0.7;
            transition: 0.1s ease-in-out;
        }

        input:hover::-webkit-input-placeholder {
            opacity: 0.4;
        }

        input:focus::-webkit-input-placeholder {
            opacity: 0;
        }

    div button {
        position: absolute;
        top: 0;
        right: 56px;
        bottom: 0;
        cursor: pointer;
        height: calc(100% - 10px);
        margin: 5px;
    }

    div:last-of-type button {
        right: 0;
    }

    .input-clear {
        width: 25px;

        button {
            padding: 0 0.25rem;
            background: none;
            opacity: 0.7;
            color: var(--text-muted);
            border: none;
        }
    }

    .input-submit {
        width: 40px;

        button {
            padding: 0 0.75rem;
        }
    }
}
