@page "/"

<PageTitle>Home</PageTitle>

<div class="page-background">
    <img src="images/hero-bg.webp" />
    <div></div>
</div>
<div class="page-home-container">
    <h4>Tournaments the easy way!</h4>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
</div>
