@page "/"

<PageTitle>Home</PageTitle>


<div class="page-background"></div>

<div class="page-home-top-section" page-restrict="true">
    <h2>Tournaments the easy way!</h2>
    <div style="width: 100%;">
        <SearchComponent Placeholder="Search for a game or tournament" ValueEntered="Search" ShowSearchButton="true" Style="max-width: calc(100% - 2rem); width: 500px; padding: 1rem; margin: 0 auto;" />
    </div>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
</div>

<GamesGridComponent Title="Popular Games" Games="@GameService.Games?.Take(12).ToList()" Style="margin-bottom: 6rem;" />

<TournamentGridComponent Title="Popular Tournaments" Tournaments="@GameService.Tournaments?.Take(9).ToList()" IsGamePage="false" Style="margin-bottom: 6rem;" />

@code {

    private void Search(string args)
    {
        GameService.Search(args);
    }

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            await GameService.GetGames();
            await GameService.GetTournaments();
        }

        await base.OnAfterRenderAsync(firstRender);
    }
}